.table-container {
	position: relative;
	max-width: $break-one;
	overflow: scroll;
	@media (min-width: $break-one){
		max-width: $break-two;
	}
	@media (min-width: $break-two){ 
		max-width: $break-three;
	}
	> .figure-header {
		margin-top: 0.25rem;
	}
	table {
		overflow: auto;
	}
}

table {
	width: 100%;
	margin: 0;
	font-size: 0.875rem;
	border-top: 2px solid $specialblue;
	border-collapse: collapse;
	th, td {
		line-height: 1.1;
		padding: 0.25rem;
		padding-left: 0;
	}
	th {
		text-align: center;
		color: $specialblue;
	}
}

// wide tables
.scrollable {
	&::before {
		content: '';
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-left: 12px solid $link;
		border-bottom: 6px solid transparent;
		position: absolute;
		z-index:99;
		top: 8px; 
		right: 0px;
	}
}

.table-popover {
	@include box-model;
	position: fixed;
	z-index: 9998;
	width: 100vw;
	height: 100vh;
	background: rgba(245,245,245,0.85);
	padding: 1rem;
	// overrides the max-width settings
	.table-container {
		max-width: 100%;
	}
	.table-content {
		padding: 0.75rem;
		padding-bottom: 1.5rem;
		background: #fff;
		// small screen
		@media (max-width: $break-three){
			height: 90vh !important;
			overflow: scroll;
		}
	}
}

.table-xl--btn {
	cursor: pointer;
	display: inline-block;
	// width: 1.25rem;
	// height: 1.25rem;
	// padding: 0.15rem;
	// border-radius: 50%;
	// border: 2px solid $link;
	// padding: 0.25rem;
}












